*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/* start */

.testimonial__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #f4fcfe;
  padding: 2.4rem 3.2rem;
}

.title,
.text__intro {
  grid-column: 1/-1;
  text-align: center;
}

.text__intro {
  grid-row: 2;
}

.testimonial__card {
  width: 100%;
  min-height: 300px;
  /*  */
  padding: 2.4rem;
}

.testimonial__card-image {
  object-fit: cover;
  width: 20.8rem;
  height: 20.8rem;
  /* background-color: blue; */
  box-shadow: 0px 5px 24px 6px rgb(2 2 66 / 8%);
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  border: 8px solid #fff;
}

.testimonial__card-image img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

/* quick links open close */
.quick__links-container {
  margin-top: -1.5rem;
  position: relative;
  transition: 0.3s all;
}

.quick__links-container::before {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: 200%;
  background-image: linear-gradient(
    to right,
    #cc2b5e 0%,
    #753a88 51%,
    #cc2b5e 100%
  );
  border-radius: 100px;
}

.open-close__icon {
  position: absolute;
  height: 50px;
  width: 50px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  cursor: pointer;
  z-index: 200;
  pointer-events: none;
}

.open-close__icon::before,
.open-close__icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 3px;
  background-color: #fff;
}

.open-close__icon::after {
  height: 3px;
  transform: translate(-50%, -50%) rotate(90deg);
}

.testimonial__card-1 {
  /* background: blue; */
}

.testimonial__card-2 {
  /* background: red; */
}
.testimonial__card-3 {
  /* background: green; */
}
.testimonial__card-4 {
  /* background: yellow; */
}

/* testimonial card */
.testimonial__card-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.2rem;
  gap: 0.2rem;
  /* justify-content: center; */
}

.name {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
}

/* list */
.links__list {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  pointer-events: none;
  opacity: 0;
  transform: translate(0);
  transition: all 0.3s;
  margin: 0 auto;
}

.links__list a {
  font-size: 1.6rem;
  color: #fff;
}

/* hover active effects */
.testimonial__card {
  transition: 0.3s all;
}

.open-close__icon {
  transform: translate(-50%, -50%) rotate(0);
  transition: 0.5s all;
}

.testimonial__card:hover .open-close__icon,
.testimonial__card:active .open-close__icon {
  transform: translate(-50%, -50%) rotate(180deg) scale(0.5);
  opacity: 0;
}

.quick__links-container::before {
  transition: all 0.5s;
}

.testimonial__card:hover .quick__links-container::before,
.testimonial__card:active .quick__links-container::before {
  width: 65%;
}

.testimonial__card:hover .links__list,
.testimonial__card:active .links__list {
  pointer-events: visible;
  opacity: 1;
  z-index: 300;
}

.testimonial__card:hover .testimonial__card-image img,
.testimonial__card:active .testimonial__card-image img {
  transform: scale(1.1);
}

@media (max-width: 1100px) {
  .testimonial__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 670px) {
  .testimonial__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .testimonial__card:hover .quick__links-container::before,
  .testimonial__card:active .quick__links-container::before {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .testimonial__card:hover .quick__links-container::before,
  .testimonial__card:active .quick__links-container::before {
    width: 220px;
  }
}
